@import "tailwindcss";
* {
    margin: 0;
    box-sizing: border-box;
}
.background-container {
    background-color: var(--color-green-900);
    width: 100%;
}
.background-svg {
    transform: translate(-50%, -50%) scale(2.4);
    width: 100%;
    height: 100%;
    fill: #FFFFFF;
}
header {
    font-family: InterVariable, sans-serif;
}